@media (max-width: 480px){
    .container{
        @include min-width(320px);
    }

    .d-block{
        display: block !important;
    }
}

.pt-11{
    @include padding-top(11px);
}

a{
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

.d-none{
    display: none !important;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

.m-auto{
    display: flex;
    justify-content: center;
}
