/*
   Import partials below
*/
@import 'utils/variables.scss';
@import 'utils/mixins.scss';
@import 'utils/functions.scss';

@import 'base/_reset.scss';
@import '../../node_modules/bootstrap/dist/css/bootstrap-reboot';
@import 'base/fonts.scss';
@import 'base/typography.scss';

@import '../../node_modules/bootstrap/dist/css/bootstrap-grid';

@import 'layout/mobile-320/base.scss';
@import 'layout/mobile-320/header.scss';
@import 'layout/mobile-320/get-book.scss';
@import 'layout/mobile-320/gbook.scss';
@import 'layout/mobile-320/main-block.scss';
@import 'layout/mobile-320/footer.scss';
@import 'layout/mobile-320/game-selects.scss';

@import 'layout/mobile-480/base.scss';
@import 'layout/mobile-480/header.scss';
@import 'layout/mobile-480/get-book.scss';
@import 'layout/mobile-480/gbook.scss';
@import 'layout/mobile-480/main-block.scss';
@import 'layout/mobile-480/footer.scss';
@import 'layout/mobile-480/game-selects.scss';

@import 'layout/tablet-750/base.scss';
@import 'layout/tablet-750/header.scss';
@import 'layout/tablet-750/get-book.scss';
@import 'layout/tablet-750/gbook.scss';
@import 'layout/tablet-750/main-block.scss';
@import 'layout/tablet-750/footer.scss';
@import 'layout/tablet-750/game-selects.scss';

@import 'layout/desctop-1200/base.scss';
@import 'layout/desctop-1200/header.scss';
@import 'layout/desctop-1200/get-book.scss';
@import 'layout/desctop-1200/gbook.scss';
@import 'layout/desctop-1200/main-block.scss';
@import 'layout/desctop-1200/footer.scss';
@import 'layout/desctop-1200/game-selects.scss';

@import 'components/mobile-320/logo.scss';
@import 'components/mobile-320/search.scss';
@import 'components/mobile-320/menu.scss';
@import 'components/mobile-320/btn.scss';
@import 'components/mobile-320/block-menu.scss';

@import 'components/mobile-480/logo.scss';
@import 'components/mobile-480/search.scss';
@import 'components/mobile-480/menu.scss';
@import 'components/mobile-480/btn.scss';
@import 'components/mobile-480/block-menu.scss';

@import 'components/tablet-750/logo.scss';
@import 'components/tablet-750/search.scss';
@import 'components/tablet-750/menu.scss';
@import 'components/tablet-750/btn.scss';
@import 'components/tablet-750/block-menu.scss';

@import 'components/desctop-1200/logo.scss';
@import 'components/desctop-1200/search.scss';
@import 'components/desctop-1200/menu.scss';
@import 'components/desctop-1200/btn.scss';
@import 'components/desctop-1200/block-menu.scss';
