.block-menu{
    @include width(320px);
    /*margin-left: -15px;
    margin-right: -15px;*/

    &__list{
        margin-bottom: 0;
    }

    &__item{
        border-top: 1px solid #cfd7dd;
        @include padding-top(20px);
        @include padding-bottom(20px);
        padding-left: 15px;
        padding-right: 15px;

        &:last-child{
            border-bottom: 1px solid #cfd7dd;
        }

    }

    &__link{
        @include f-Gl-22;
        color: #072c3e;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &::after{
            content: '';
            width: 0;
            height: 0;
            display: inline-block;
            border-style: solid;
            border-width: 4px 0 4px 8px;
            border-color: transparent transparent transparent #072c3e;
            right: 0;
        }

        &--active{
            color: #f7770f;

            &::after{
            content: '';
            width: 0;
            height: 0;
            display: inline-block;
            border-style: solid;
            border-width: 8px 4px 0 4px;
            border-color: #f7770f transparent transparent transparent;
            right: 0;
        }

        }
    }

    &__span{
        width: 63%;
    }

    &__short-descr{
        @include margin-top(25px);
        @include padding-top(20px);
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
        border-top: 1px solid #cfd7dd;
    }

    &__img{

    }

    &__short-text{
        @include margin-top(20px);
        @include f-Ul-14;
        color: #798286;
    }

}
