.logo{
    display: flex;
    justify-content: space-between;
    @include width(160px);
    align-items: center;

    &__link{

    }

    &__img{

    }

    &__block-text{

    }

    &__text{
        @include f-OSl-14;
        color: #fff;
        @include margin-bottom(4px);

        &:last-child{
            margin-bottom: 0;
        }
    }

    &__span{
        font-weight: bold;
    }

    @media (max-width: 480px){

        &__link--footer{
        margin-left: auto;
    }

}

}
