@font-face {
    font-family: 'Geometria';
    src: url('fonts/Geometria/geometria.woff2') format('woff2'),
         url('fonts/Geometria/geometria.woff2/geometria.ttf')  format('truetype'),
         url('fonts/Geometria/geometria.woff2/geometria.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('fonts/Geometria-Light/geometria-light-webfont.woff2') format('woff2'),
         url('fonts/Geometria-Light/geometria-light-webfont.ttf') format('truetype'),
         url('fonts/Geometria-Light/geometria-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}
