@media (min-width: 768px){

    .block-menu{
        width: 100%;

        &__list{
            justify-content: center;
            align-content: flex-start;
            align-items: flex-start;
        }

        &__item{
            border-bottom: 0;
        }

        &__item-block{
            @include width(320px);

        }

    }

    .block-menu__item:nth-child(2n) .block-menu__item-block{
        margin-left: auto;
    }


}
